<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form stuffz</title>
</head>
<body>
    <form method="POST">
        <label>Name:
            <input type="text" name="name">
        </label><br>
        <label>Species:
            <input type="text" name="species">
        </label><br>
        <label>Owner ID:
            <input type="text" name="owner_id">
        </label><br>
        <!-- <textarea name="description"></textarea>
        <select name="cats">
            <option value="oakley">Oakley</option>
            <option value="milla">Milla</option>
            <option value="tbj">another cat</option>
        </select>
        <input type="radio" name="rating" value="1">
        <input type="radio" name="rating" value="2">
        <input type="radio" name="rating" value="3"> -->
        <input type="submit">
    </form>
</body>
</html>