<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form stuffz</title>
</head>
<body>
    <form method="POST">
        <label for="rating">Are you sure you want to delete?</label>
        YES<input type="radio" name="rating" value="1">
        NO<input type="radio" name="rating" value="2">
        <input type="submit">
    </form>
</body>
</html>